<ion-header class="model-header">
  <ion-toolbar class="toolbar">
    <ion-title class="model-title">B型超声波检查</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();" class="close-btn"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="model-content">B超超声波检查是超声波检查的一种方式，是一种非手术的诊断性检查，一般在临床应用方面。对受检者无痛苦、无损伤、无放射性，可以放心接受检查。<br/>
  B超可以清晰地显示各脏器及周围器官的各种断面像，由于图像富于实体感，接近于解剖的真实结构，所以应用超声检查可以早期明确诊断。<br/>
  怀孕早期做b超的时候，需要在膀胱里积聚一定量的小便才能看得清楚，因此建议孕妈妈提前憋尿。可以在家就提前喝两杯白开水，到医院检查就省时间了。如果是怀孕中晚期做b超检查时，不仅不需要憋尿，还要提前排尿。这是因为怀孕3个月以后，子宫越来越大，羊水也多了，医生通过超声仪器可以透过羊水观察胎儿的情况。若膀胱里有尿，反而可能影响胎儿影像的显现。</p>
</ion-content>
