<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>名医解答</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list lines="none" class="list">
    <div class="list-item" (click)="goDetail(1);">
      <ion-item>
        <img src="../../assets/images/demo.jpg" alt="" width="120" height="75">
        <div>
          <ion-text class="title">秃顶为什么没有被自然选择淘汰？</ion-text>
          <ion-text class="desc">秃顶为什一个性是否被个性是否被自然选择淘选择淘汰？</ion-text>
        </div>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="avatar">
            <img src="assets/images/user.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text class="tags">赛华佗 北京协和医院 妇产科主任医师</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="tags-btn">科普</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="list-item" (click)="goDetail(1);">
      <ion-item>
        <img src="../../assets/images/demo.jpg" alt="" width="120" height="75">
        <div>
          <ion-text class="title">秃顶为什么没有被自然选择淘汰？</ion-text>
          <ion-text class="desc">秃顶为什一个性是否被个性是否被自然选择淘选择淘汰？</ion-text>
        </div>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="avatar">
            <img src="assets/images/user.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text class="tags">赛华佗 北京协和医院 妇产科主任医师</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="tags-btn">科普</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="list-item video" (click)="goDetail(1);">
      <ion-item>
<!--        <img src="../../assets/images/demo.jpg" alt="" width="120" height="75">-->
        <div>
          <ion-text class="title">秃顶为什么没有被自然选择淘汰？</ion-text>
          <ion-text class="desc">秃顶为什一个性是否被个性是否被自然选择淘选择淘汰？</ion-text>
        </div>
      </ion-item>
      <div class="video-box">
        <img src="../../assets/images/demo.jpg" alt="" width="100%" height="175">
      </div>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="avatar">
            <img src="assets/images/user.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text class="tags">赛华佗 北京协和医院 妇产科主任医师</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="tags-btn">科普</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="list-item">
      <ion-item>
        <img src="../../assets/images/demo.jpg" alt="" width="120" height="75">
        <div>
          <ion-text class="title">秃顶为什么没有被自然选择淘汰？</ion-text>
          <ion-text class="desc">秃顶为什一个性是否被个性是否被自然选择淘选择淘汰？</ion-text>
        </div>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="avatar">
            <img src="assets/images/user.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text class="tags">赛华佗 北京协和医院 妇产科主任医师</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="tags-btn">科普</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>
