<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list lines="none">
    <ion-item class="list-item">
      <ion-label>头像</ion-label>
      <ion-avatar>
        <img src="assets/images/user.png" alt="" width="40">
      </ion-avatar>
      <i class="icon-more"></i>
    </ion-item>
    <ion-item class="list-item">
      <ion-label>昵称</ion-label>
      <ion-text>勇敢的心</ion-text>
      <i class="icon-more"></i>
    </ion-item>
    <ion-item class="list-item">
      <ion-label>手机号</ion-label>
      <ion-text>15868823605</ion-text>
      <i class="icon-more"></i>
    </ion-item>
    <ion-item class="list-item">
      <ion-label>微信</ion-label>
      <ion-text>hwlweb</ion-text>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item class="list-item">
      <ion-label>推送消息设置</ion-label>
      <i class="icon-more"></i>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item class="list-item">
      <ion-label>去好评</ion-label>
      <i class="icon-more"></i>
    </ion-item>
    <ion-item class="list-item">
      <ion-label>推荐给好友</ion-label>
      <i class="icon-more"></i>
    </ion-item>
    <ion-item class="list-item">
      <ion-label>关于我们</ion-label>
      <i class="icon-more"></i>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-button expand="full" class="logout" (click)="logout()">退出登录</ion-button>
  </ion-list>
</ion-content>
