@import "../../assets/scss/mixin.scss";

ion-content {
  --background: #fefefe;
}

ion-toolbar {
  @include toolbar;
}

ion-card {
  --background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .05) !important;
  margin-top: 5px !important;
}

ion-button {
  --background:linear-gradient(90deg,rgba(249,166,59,1) 0%,rgba(219,90,108,1) 100%);
}

.slide-box {
  padding: 15px 0 5px 0;
}

.doctor-box {
  padding: 0 8px;
}

.title {
  font-size: 15px;
  @include font-color;
  margin-bottom: 5px;
}

.desc {
  font-size: 13px;
  @include p-color;
  margin-top: 0;
}

.icon {
  flex: 0 0 40px;
  height: 40px;
  margin: 15px 10px 0 15px;
  @include bg-image('../../assets/images/home_doctor');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-1 {
  @include bg-image('../../assets/images/home_msg');
}

.fl-box {
  display: flex;
  background: #FFF3E3;
  border-radius: 3px;
  &.bg2{
    background:rgba(254,232,233,1);
  }
}

.h-title {
  text-align: center;
  font-size: 20px;
  @include font-color;
  font-weight: 700;
  margin: 30px 0;
}

.h-desc {
  text-align: center;
  font-size: 14px;
  @include p-color;
  margin: 30px 0;
}

.h-btn {
  margin: 0 auto 30px auto;
  @include btn(80%, 40px)
}
